header li {
  display: inline-block;
  border-bottom: #dbae72;
}
header a {
  color: #dbae72;
  text-decoration: none;
  font-size: 15px;
  width: 1.85714em;
  max-width: 44.2px;
  background-position: center center;
  background-origin: content-box;
}
.header-ul {
  display: inline-block;
  max-width: 1000px;
  height: 44px;
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
}
.header-ul-mob {
  display: none;
  list-style-type: none;
  padding: 0px 10px;
  text-align: center;
  height: 44px;
}
.header-ul-mob li,
.header-ul-mob img {
  height: 100%;
}
body {
  background-color: white;
  margin: 0px;
}
.header-ul-mob .material-icons {
  margin-top: 10px;
}
.header-div {
  position: sticky;
  background-color: #333333;
  width: 100%;
  height: 44px;
  top: 0;
  display: inline;
}
.home-logo {
  display: inline-block;
  height: 44px;
  vertical-align: middle;
  padding: 5px 0px 0px 0px;
}
.inner_main_menu {
  margin: 0px auto 0px auto;
  max-width: 1000px;
  height: 44px;
}
header {
  position: sticky;
  top: 0px;
  z-index: 150;
  backdrop-filter: saturate(180%) blur(20px);
  /* background-color: #333333b7; */
  background-color: #ffffffb7;
}
header li a p {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  margin: 0;
}
header li a p:hover {
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: goldenrod;
}
.mawada-store {
  font-family: "Alice", serif;
  font-size: 15px;
}
.logo-svg {
  float: left;
  margin-right: 2px;
}
.logo-type {
  float: right;
}
.logo-b {
  height: 2px;
  width: auto;
}
.shopping-bag {
  color: #dbae72;
  text-decoration: none;
  font-size: 15px;
  width: 1.85714em;
  max-width: 44.2px;
  background-position: center center;
  background-origin: content-box;
}
.shopping-bag:hover::before {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid gray;
}

footer {
  background-color: #f5f5f7;
}
.foot-div {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
}
.foot-mob ul {
  list-style-type: none;
}
.foot-lists {
  width: -webkit-fill-available;
}
.foot-div ul {
  list-style-type: none;
  padding: 0;
}
.foot-lists ul li ul {
  list-style-type: none;
}
.foot-lists a {
  text-decoration: none;
  color: #515154;
  font-size: 12px;
}
.foot-lists a:hover {
  color: #1d1d1f;
  text-decoration: underline;
}
.foot-div h3 {
  margin-bottom: 9.6px;
  font-weight: 600;
  font-size: 12px;
}
.foot-lists li {
  margin-bottom: 9.6px;
}
.foot-mob {
  padding-top: 18px;
  display: none;
}
.foot-mob ul {
  list-style-type: none;
}
.foot-mob ul li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}
.foot-mob label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  font-size: 0.75rem;
  cursor: pointer;
}

.brand-remove-icon {
  display: none;
}
.store-remove-icon {
  display: none;
}
.fa {
  padding: 8px;
  font-size: 30px;
  width: 11px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 10px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #333333;
  color: white !important;
}
.fa-instagram {
  background: #333333;
  color: white !important;
}

@media (max-width: 767px) {
  header {
    position: initial;
    background: white;
  }
  .header-ul {
    display: none;
  }
  .header-ul-mob {
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .foot-div {
    display: block;
  }
  .foot-lists {
    display: none;
  }
  .foot-mob {
    display: block;
  }
  .foot-mob li .material-icons {
    color: gray;
  }
  .social {
    text-align: center;
    margin-bottom: 15px;
  }
  .social .fa {
    width: 15px;
    font-size: 15px;
  }
}
